# Abbot Configuration File
#
# NOTE: this file is managed by Ansible; manual changes will be overwritten

# These settings are modified automatically by Ansible.
hostname = '{{ hostname }}'
port = {{ abbot_port }}
cors_allow_origin = '{{ abbot_cors_origin }}'
drupal_url = '{{ abbot_drupal_url }}'
solr_url = '{{ abbot_solr_url }}'


# Don't touch these.
debug = False
logging = 'warning'
