[Unit]
Description="Holy Orders Update Script"
Documentation=https://github.com/CANTUS-Project/abbot/
Wants=abbot.service
After=network.target

[Install]
Also=abbot.service
WantedBy=multi-user.target

[Service]
ExecStart={{ abbot_py_exec }} -m holy_orders {{ holyorders_conf_file }}
User={{ abbot_user }}
