[Unit]
Description="Abbott HTTP Server"
Documentation=https://github.com/CANTUS-Project/abbott/
Wants=solr.service

[Install]
Also=solr.service
WantedBy=multi-user.target

[Service]
Environment=PATH="/usr/local/abbott-venv/bin:$PATH"
ExecStart=/usr/local/abbott-venv/bin/python /usr/local/abbott/abbott --options_file=/usr/local/abbott/packaging/server_configuration.py
Restart=on-failure
User=abbott
