[Unit]
Description="Abbot HTTP Server"
Documentation=https://github.com/CANTUS-Project/abbot/
Wants=solr.service
Requires=abbot.socket
After=network.target

[Install]
Also=solr.service
WantedBy=multi-user.target

[Service]
Environment=PATH="/usr/local/abbot-venv/bin:$PATH"
ExecStart=/usr/local/abbot-venv/bin/python /usr/local/abbot/abbot --options_file=/usr/local/abbot/packaging/server_configuration.py
Restart=on-failure
User=abbot
