# Abbott Configuration File
# {{ ansible_managed }}

# These settings are modified automatically by Ansible.
scheme = '{{ abbott_scheme }}'
hostname = '{{ abbott_hostname }}'
port = {{ abbott_port }}
cors_allow_origin = '{{ abbott_cors_origin }}'
drupal_url = '{{ abbott_drupal_url }}'
solr_url = '{{ abbott_solr_url }}'


# Don't touch these.
debug = False
logging = 'warning'
drupal_type_map = {
    'cantusid': None,
    'portfolio': None,
    'siglum': 'rism',
    'source_status': 'source-status',
}
