[Unit]
Description="Abbott HTTP Server"
Documentation=https://github.com/CANTUS-Project/abbott/
Wants=solr.service
Requires=abbott.socket
After=network.target

[Install]
Also=solr.service
WantedBy=multi-user.target

[Service]
Environment=PATH="{{ abbott_venv_dir }}:$PATH"
ExecStart={{ abbott_py_exec }} {{ abbott_bin_dir }}/abbott --options_file={{ abbott_conf_file }}
Restart=on-failure
User={{ abbott_user }}
