[Unit]
Description="Abbot HTTP Server"
Documentation=https://github.com/CANTUS-Project/abbot/
Wants=solr.service
Requires=abbot.socket
After=network.target

[Install]
Also=solr.service
WantedBy=multi-user.target

[Service]
Environment=PATH="{{ abbot_venv_dir }}:$PATH"
ExecStart={{ abbot_py_exec }} -m abbot --options_file={{ abbot_conf_file }}
Restart=on-failure
User={{ abbot_user }}
